.navigationBar {
    width: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width:fit-content;
    color: #004488;
    font-weight: bolder;
    font-size: 2rem;
    flex: 1;
    text-align: center;
}


.menuIcon {
    margin: 15px 10px;
    flex: 0;
}

.userProfile {
    margin: 15px 0;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 10%;
    flex: 0;
}

.profilePic {
    border-radius: 50px;
    width: 35px;
    overflow: hidden;
}