@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --gray:#777777;
    --blue:#025484;
    --black:#303030;
}
.signup-screen{
    background-color:white;
}
.signup{
    width: auto;
    padding-top: 5vh;
    padding-bottom: 15vh;
    padding-inline: 8vw;
    background-color: #f5f5f5;
    backdrop-filter: blur( 15px );
    transform: scale(0.9);
}
.signup_inputs{
    width: 405px;
    font-family: 'Poppins', sans-serif;
}
input{
    background-color: #f5f5f5;
    border: solid black;
    border-width: 0 0 2px 0;
}
input:focus{
    outline: none;
}
.btn{
    background-color: var(--blue);
}
.signup-btn{
    background-color: var(--black);
}
.iiitb-logo{
    transform: scale(0.9)  
}
.errormsg{
    border: 1px solid red;
    color: red;
}
.joinustext{
    min-width: 40vw;
    padding-right: 10vw;
    margin-top: -50px;
    letter-spacing: 0.4 rem;
}
.hidden{
    display: none !important;
}
@media(max-width: 1290px){
    .joinustext{
        min-width: 30vw;
        padding-right: 5vw;
    }
}
@media(max-width:820px){
    .signup{
        width: 100%;
        height: auto;
    }
    .signup_inputs{
        max-width: 90%;
    }
    .joinustext{
        display: none;
    }
}