.loginDiv {
    margin: 30px auto;
    margin-top: 6vh;
    width: 35vw;
    max-width: 500px;
    padding: 15px;
    background-color: white;
}

.loginHeading {
    width: fit-content;
    margin: 10px auto;
    font-size: 2rem;
    font-weight: bolder;
    color: #004488;
}

.loginForm {
    margin: 20px auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.loginInputDiv {
    margin: 10px auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* border: 1px solid black; */
}

.loginLabel {
    flex:1;
}

.loginInput {
    flex: 2;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.loginButton {
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
    font-size: 1.2rem;
    color: white;
    padding: 5px 20px;
}

@media (max-width: 1250px){
    .loginDiv {
        width: 65%;
        padding: 15px;
        margin-top: 6vh;
    }
    
    .loginForm {
        margin: 20px auto;
        width: 90%;
    }
}

@media (max-width: 650px){
    .loginDiv {
        width: 85%;
        margin-top: 12vh;
    }   
}

@media (max-width: 500px){
    
    .loginDiv {
        margin-top: 12vh;
    }

    .loginInputDiv {
        margin: 10px auto;
        width: 95%;
        display: block;
        position: relative;
        /* border: 1px solid black; */
    }

    .loginLabel {
        display: block;
        padding-bottom: 5px;
        margin-left: 15px;
    }

    .loginInput {
        margin: 0 auto;
        width: 90%;
        margin-left: 15px;
    }
}